password.expiry.days=30

mongo.db.host=localhost
mongo.db.port=27017
mongo.db.name=dev_qm
mongo.db.connectionsPerHost=100
mongo.db.threadsAllowedToBlockForConnectionMultiplier=5
mongo.db.connectTimeout=20000
mongo.db.maxWaitTime=20000
mongo.db.autoConnectRetry=true
mongo.db.slaveOk=true
mongo.db.write-number=1

#Master DB
database.user=vincube
database.password=vincube
database.name=vincube
database.ip=localhost
database.port=5432

#Slave DB
database.readonly.user=vincube
database.readonly.password=vincube
database.readonly.name=vincube
database.readonly.ip=localhost
database.readonly.port=5432

#Mail Properties
noreply.email=selvarajkumarasamy@gmail.com
axilAdmin.email=selvarajkumarasamy@gmail.com
axilSystems.email=selvarajkumarasamy@gmail.com
axilFeedback.email=selvarajkumarasamy@gmail.com
returnPath.email=selvarajkumarasamy@gmail.com
axilsDashSendusReplyTo.email=selvarajkumarasamy@gmail.com
mailserver.available=true
use.test.password=false
mailserver.ip=smtp.gmail.com
mail.auth.needed=true
mail.auth.userName=selvarajkumarasamy@gmail.com
mail.auth.password=*******************